<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SpringBoot Project</title>
</head>
<body>
<div>
  <form method="post" th:object="${employee}" th:action="@{/employee/process}" >
    <div>
      <label for="id">ID: </label>
      <input type="text" id="id" th:field="*{id}" required/>
    </div>
    <div>
      <label for="first_name">first_name </label>
      <input type="text" id="first_name" th:field="*{first_name}" required/>
    </div>
    <div>
      <label for="last_name">last_name </label>
      <input type="text" id="last_name" th:field="*{last_name}" required/>
    </div>
    <div>
      <label for="salary">salary </label>
      <input type="number" id="salary" th:field="*{salary}" required/>
    </div>
    <div>
      <label for="dateOfBirth">dateOfBirth </label>
      <input type="date" id="dateOfBirth" th:field="*{dateOfBirth}" required/>
    </div>
    <div>
      <label for="joinningDate">joinningDate </label>
      <input type="date" id="joinningDate" th:field="*{joinningDate}" required/>
    </div>
    <button type="submit">
      Save
    </button>
    <button type="reset">
      Reset
    </button>
  </form>
</div>

</body>
</html>